<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>q</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>QJsp</servlet-name>
    <jsp-file>/q/index_1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>QJsp</servlet-name>
    <url-pattern>/q/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QDevelJsp</servlet-name>
    <jsp-file>/q/index_1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>QDevelJsp</servlet-name>
    <url-pattern>/qd/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>QJsp</servlet-name>
    <url-pattern>/admin/qa/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FormJsp</servlet-name>
    <jsp-file>/form.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormJsp</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GenerateJsp</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateJsp</servlet-name>
    <url-pattern>/generate</url-pattern>
  </servlet-mapping>


</web-app>